button:hover {
  transform: scale(1.1);
  background-color: aquamarine;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* landing page*/
.landing {
  background-image: url('../images/backGround.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
  justify-content: center;
  align-items: center;
  display: flex;
  align-content: center;
}

.container {
  width: 500px;
  padding: 25px 30px;
  border-radius: 5px;
  background-color: rgba(125, 114, 198, 0.8);
  backdrop-filter: blur(10px);
}

.title {
  margin-bottom: 5px;
}

.container .title {
  font-size: 30px;
  font-weight: 500;
  position: relative;

}

.container form .user-details {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

form .user-details .input-box {
  margin: 20px 0px 12px 0px;
  width: calc(100% / 2 - 20px);
}

form .user-details .input-box .details {
  font-weight: 500;
  margin-bottom: 5px;
  margin-left: 10px;
}

.user-details .input-box input {
  height: 40px;
  width: 100%;
  display: block;
  outline: none;
  border-radius: 5px;
  font-size: 15px;
}

button {
  padding: 1px 6px;
  border: 1px outset buttonborder;
  border-radius: 3px;
  text-decoration: none;
  background-color: lightblue;
  font-size: 15px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.register {
  display: flex;
  gap: 30px;
  margin-top: 10px;
}

/* Registration page*/

.registrationPage {
  background-image: url('../images/background.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
  justify-content: center;
  align-items: center;
  display: flex;
  align-content: center;
}

/*home page*/

.home {
  background-image: url('../images/homeBackground.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
  justify-content: center;
  align-items: center;
  display: flex;
  align-content: center;
  position: relative;
}

.home .container {
  display: flex;
  justify-content: top;
  align-items: center;
  width: 1200px;
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translate(-50%);
}

.header {
  width: 100%;
  height: 42px;
  padding-top: 10px;
  background-color: rgb(125, 124, 124);
  text-align: right;
  padding-right: 10px;
}

.tab-nav li {
  display: inline-block;
  margin-left: 18px;
  font-size: 1.2rem;
}

.todo {
  width: 100%;
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 30px;
  color: black;
  border-radius: 20px;
  border: 3px solid rgb(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);

}

.todo .user-details {
  height: 36px;
  width: 1000px;
}

.todo .user-details .input-box input {
  width: 90%;
  margin-left: 5px;
  float: left;
}


.task-list {
  width: 100%;
}

.todo-container {
  margin-top: 30px;
  width: 100%;
  background-color: rgba(235, 242, 248, 0.7);
}

#task-list li {
  display: flex;
  align-items: left;
  justify-content: left;
  padding: 8px 10px;
  font-size: 1.2rem;
  color: black;
  border: 3px solid rgba(0, 0, 0, 0.2);
}

#task-list li .task-status {
  height: 20px;
  border: 2px solid rgba(0, 0, 0, 0.3);
  cursor: pointer;
  transition: all 0.2s ease;
  margin-right: 10px;
  font-size: 1.0rem;
}


#task-list li span {
  margin-right: auto;
  word-wrap: break-word;
}

.home .container .todo .user-details .input-box button {
  align-items: center;
  justify-content: center;
  margin-left: 10px;
  padding: 8px;
  border-radius: 75%;
  display: flex;
  float: right;
  transition: all 0.2s ease;
}

.task-btns {
  gap: 10px;
  display: flex;
  margin-left: 10px;
}

.task-btns button {
  border: none;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  font-size: 0.8rem;
  cursor: pointer;
  transition: all 0.2s ease;
}

.task-btns button:hover {
  transform: scale(1.2);
}

.task-btns .edit-btn {
  background-color: #ffbf00;
}

.task-btns .delete-btn {
  background-color: darksalmon;
}

.create {
  font-size: 1.5rem;
  color: aliceblue;
  align-items: left;
  justify-content: left;
  margin-left: 10px;
}