{% extends 'base.html' %}


{% block title %}Dashboard{% endblock %}

{% block content %}
  <div class="header">
    <ul class="tab-nav">
      <li>
        <a href="dashboard.html" title="dashboard">Dashboard</a>
      </li>
      <li>
        <a href="javacript;:">{{ firstName }}</a>
      </li>
      <li>
        <a href="{{ url_for ('index') }}" title="landing page">Logout</a>
      </li>
    </ul>
  </div>
  <div class="home">
    <div class="container">
      <div class="todo">
        <h1>Dashboard</h1>
        <div class="user-details">
          <form class="input-box">
            <input type="text" id="title" placeholder="Add task title to start">
          </form>
        </div>
        <a class="create" href= "{{url_for('task.home')}}">Create Task</a>
        <div class="todo-container">
          <ul id="task-list">
            <li>
              <h3>{{title}}</h3>
            </li>
            <li>
              <p id="review"></p>
            </li>
            <li>
              <button class="review-btn" onclick="reviewFunction()">Write Note</button>
              <button class="edit-btn">Review Tasks</button>
              <button class="delete-btn">Delete</button>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

{% endblock %}
<script>
  function reviewFunction() {
    let text;
    let review = prompt("Please write reflective notes about tasks.");
    if (review == null || review == "") {
      text = "write remarks or reflective notes";
    } else {
      text = review;
    }
    document.getElementById("review").innerHTML = text;
  }
</script>