{% extends 'base.html' %}


{% block title %}Dashboard{% endblock %}

{% block content %}

  <div class="header">
    <ul class="tab-nav">
      <li>
        <a href="{{ url_for ('task.dashboard') }}"  title="dashboard">Dashboard</a>
      </li>
      <li>
        <a href= "/user/update">{{user.firstName}}</a>
      </li>
      <li>
        <a href="{{ url_for ('index') }}" title="landing page">Logout</a>
      </li>
    </ul>
  </div>
      {% with messages = get_flashed_messages() %}
    {% if messages %}
      {% for message in messages %}
        <span class = "flash-text">{{ message }}</span>
      {% endfor %}
    {% endif %}
  {% endwith %}
  <div class="home">
    <div class="container">
      <div class="todo">
        <h1>Dashboard</h1>
        <div class="user-details">
          <div data-prop="titleName" class="from-item">
              <form class="input-box" method="POST">
                <input type="text" id="titleName" name="titleName" placeholder="Add task title to start">
                <button type="submit">Create</button>
              </form>
          </div>
        </div>
      {% for title in titles_data %}
        <div class="todo-container">
          <ul id="task-list">
            <li>
              <h3>{{title.titleName}}</h3>
            </li>
            <li>
              <p id="review">{{title.reviewNote}}</p>
            </li>
            <li>
              <div class="btn-container">
                <a class="btn" href="{{ url_for('task.review', title_id=title.id) }}"><i class="fa-solid fa-comment"></i></a>
                <a class="btn" href="{{ url_for('task.home', title_id=title.id) }}"><i class="fa-solid fa-pen"></i></a>
                <form action="{{ url_for('task.delete',title_id = title.id)}}" method="POST">
                  <button class="btn" type = "submit"><i class="fa-solid fa-trash"></i></button>
                </form>
              </div>
            </li>
          </ul>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>

{% endblock %}
<script>
  function reviewFunction() {
    let text;
    let review = prompt("Please write reflective notes about tasks.");
    if (review == null || review == "") {
      text = "write remarks or reflective notes";
    } else {
      text = review;
    }
    document.getElementById("review").innerHTML = text;
  }
</script>