{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
  <div class="header">
    <ul class="tab-nav">
      <li>
        <a href="{{ url_for ('task.dashboard') }}" title="dashboard">Dashboard</a>
      </li>
      <li>
        <a href="{{ url_for ('user.update') }}">{{ user.firstName }}</a>
      </li>
      <li>
        <a href="{{ url_for ('index') }}" title="landing page">Logout</a>
      </li>
    </ul>
  </div>
      {% with messages = get_flashed_messages() %}
        {% if messages %}
          {% for message in messages %}
            <span class = "flash-text">{{ message }}</span>
          {% endfor %}
        {% endif %}
      {% endwith %}
  <div class="home">
    <div class="container">
      <div class="todo">
        <h1>To Do List</h1>
        <div class="user-details">
          <form class="input-box" action="{{ url_for('task.home',title_id=title_id) }}" method="POST">
            <select id="task-status" name="task-status" class="task-status">
              <option value="Yet-to-Do" selected>Yet-to-Do</option>
              <option value="On-Going">On-Going</option>
              <option value="Completed">Completed</option>
            </select>
            <select id="task-priorities" name="task-priorities" class="task-priorities">
              <option value="Low" selected>Low</option>
              <option value="Medium">Medium</option>
              <option value="High">High</option>
            </select>
            <input type="text" id="description" name="description" placeholder="Add a new task">
            <button type="submit" id="add-task-btn"><i class="fa-solid fa-plus"></i></button>
          </form>

        </div>
        {% for task in tasks_data %}
        <div class="todo-container">
          <div class="todo-list">
            <ul id="task-list">
              <li>Status: {{task.status}}</li>
              <li>Priority: {{task.priority}}</li>
              <li>{{task.description}}</li>
              {% if task.image %}
              <li>
                <image src = "{{url_for ('static', filename = 'media/' + task.image) }}"
                       alt = "Task Image" height="200" width = "200" onerror ="this.onerror = null; this.style.display = 'none'"></image>
              </li>
              {% endif %}
              <li>
                <div class="task-btns">
                  <div class="btn-container">
                    <form action="{{ url_for ('task.editTask',task_id = task.id) }}" method="POST">
                      <a class="btn" href="{{ url_for('task.editTask', task_id = task.id) }}"><i class="fa-solid fa-pen"></i></a>
                    </form>
                    <form action="{{ url_for('task.upload', task_id=task.id) }}" method="POST" enctype="multipart/form-data" style="display:inline-block;">
                      <label class="btn" for="file-{{ task.id }}"> <i class="fa-solid fa-image"></i></label>
                      <input id="file-{{ task.id }}" type="file" name="image" accept="image/*" style="display:none;" onchange="this.form.submit();">
                  </form>
                    <form action="{{ url_for ('task.deleteTask',task_id = task.id) }}" method="POST">
                      <button class="btn" type="submit"><i class="fa-solid fa-trash"></i></button>
                    </form>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>

{% endblock %}

<script>

document.addEventListener('DOMContentLoaded', () => {
  const taskInput = document.getElementById('task-input');
  const addTaskBtn = document.getElementById('add-task-btn');
  const taskList = document.getElementById('task-list');


  const addTask = (event) => {
    event.preventDefault();
    const taskText = taskInput.value.trim();
    if (!taskText) {
      return;
    }
    //edit button
    const editBtn = li.querySelector('.edit-btn');
    editBtn.addEventListener('click', () => {
      taskInput.value = li.querySelector('span').textContent;
      li.remove();
    });

    //li.textContent = taskText;
    taskList.appendChild(li);
    taskInput.value = '';
  };

  addTaskBtn.addEventListener('click', addTask);
  taskInput.addEventListener('keypress', (e) => {

    if (e.key === 'Enter') {
      addTask(e)
    }

  })
})
</script>