<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Online Task Management</title>
  <link href="css/stylesheet.css" rel="stylesheet">
</head>

<body>
  <div class="landing">
    <div class="container">
      <div class="title">Online Task Management</div>
      <form class="login" autocomplete="off" method="post">
        <div class="user-details">
          <div class="input-box">
            <span class="details">Student ID</span>
            <input type="text" placeholder="Student ID" name="StudentID" id="StudentID" required>
          </div>

          <div class="input-box">
            <span class="details">Password</span>
            <input type="password" placeholder="Enter Password" name="password" id="password" required>
          </div>

          <div class="link">
            <div class="checkbox-content">
              <input type="checkbox" id="remember">
              <label for="remember" class="text">Remember me</label>
            </div>
            <button class="login">Submit</button>

            <div class="register">
              <a href="#" class="text" name="forgot">Forgot password?</a>
              <a href="registration.html" title="registration page">Register as new user</a>
            </div>
          </div>

      </form>
    </div>
  </div>
</body>

</html>