{%extends 'base.html'%}


{% block title %}Login{% endblock %}

{% block content %}
    {% with messages = get_flashed_messages() %}
    {% if messages %}
      {% for message in messages %}
        <p class = "flash-text">{{ message }}</p>
      {% endfor %}
    {% endif %}
  {% endwith %}
  <div class="landing">

    <div class="container">
      <div class="title">Online Task Management</div>
      <form class="login" autocomplete="off" method="post">
        <div class="user-details">
          <div class="input-box">
            <span class="details">Email</span>
            <input type="text" placeholder="Enter Email" name="email" id="email" required>
          </div>

          <div class="input-box">
            <span class="details">Password</span>
            <input type="password" placeholder="Enter Password" name="password" id="password" required>
          </div>

          <div class="link">
            <div class="checkbox-content">
              <input type="checkbox" id="remember">
              <label for="remember" class="text">Remember me</label>
            </div>
            <button class="login">Submit</button>

            <div class="register">
              <a href="#" class="text" >Forgot password?</a>
              <a href="{{ url_for ('user.registration') }}" title="registration page">Register as new user</a>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
{% endblock %}